
        <h1>This is a CHOICES single poll view:::</h1>
        <h2>{{ question }}</h2>
        <div id="poll-choices" class="poll-choices">
            {{#each choices}}
                <div class="poll-choice" data-id={{@index}}>{{ title }}</div>
            {{/each}}
        </div>

    <h1>This is a RESULTS single poll view:</h1>
    <h2>Results</h2>
    <div class="poll-results">
        {{#each choices}}
            <div class="poll-result" data-id={{@index}}> {{title}} : {{ count }} which is {{ percent }} percent </div>
        {{/each}}
    </div>

